<td> <%= check_box_tag "user_object_ids[]", user["objectId"] %></td>
<td> <%= user["email"] %> </td>
<td> <%= user["gender"] %> </td>
<td> <%= user["date_of_birth"] %> </td>
<td> <%= user["objectId"] %> </td>